<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= user.country %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= user.status %>
  </p>

  <p>
    <strong>Url image:</strong>
    <%= user.url_image %>
  </p>

</div>
