<!DOCTYPE html>
<html>
  <head>
    <title>ToDo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <style>
      label {
        color:white;
      }
      h1 {
        color: white;
        font-family: 'Bungee', sans-serif;}
      body {
        background-image: url("https://i.pinimg.com/originals/72/1c/68/721c68c83bffa6d2a720313fb08fc27e.gif");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        }
      img {
        width: 100px;
        height: 100px;
        margin-right: 10px;
        border-radius: 50%;
        object-fit: cover;
      }
      img:hover {
        width: 110px;
        height: 110px;
        border: solid rgb(255,255,255)
      }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-light"style="color:white; background-color: #94159B; height: 130px; margin-bottom: 30px;">
      <h1 style=" padding-left:4.5%; font-size: 300%;
              text-shadow: -3px -3px #9B30FF;}"><%=User.first.name%>'s ToDo</h1>
      
      <%= link_to 'http://localhost:3000/users/1', style:"text-decoration: none;" do %>
        <%= image_tag User.first.url_image%>
        <%end%>
    </nav>
    <%=yield %>
    <footer>
      <div class="text-center p-3" style="color: white">
          <p>© 2023 Copyright: Todos os direitos reservados</p>
      </div>
    </footer>
  </body>
</html>